

{% load cms_tags menu_tags %}
{% for child in children %}
<li class=" nav-item child{% if child.ancestor %} ancestor{% endif %}{% if child.children and dropdown %} children dropdown{% endif %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
  <a href="{{ child.get_absolute_url }}" class= "{% if child.selected %} active {% endif %}{% if child.children and not child.parent and dropdown %} nav-link dropdown-toggle {% elif child.parent and dropdown %} dropdown-item {% else %} nav-link {% endif %}" {% if child.children and not child.parent and dropdown %}data-toggle="dropdown"{% endif %}>
      <span>
          {{ child.get_menu_title }}
          {% if child.children and not child.parent and dropdown %}<span class="caret"></span>{% endif %}
      </span>
  </a>
  {% if child.children %}
      <ul{% if child.children and not child.parent and dropdown %} class="dropdown-menu" role="menu"{% endif %}>
          {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
      </ul>
  {% endif %}
</li>
{% endfor %}


